services:
  postgres:
    image: postgres:latest
    container_name: postgres_latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
      TZ: Asia/Seoul
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: